.container{
    position: relative;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#video-call{
    top: 0;
    left: 0;
    position: absolute;
    width: 100vw; 
    height: auto;
    object-fit: cover;
    pointer-events: none;
    background-color: #202124;
    z-index: -1;
}