.footer{
    position: absolute;
    width: 100%;
    bottom: 3rem;
    color: white;
}

.id-time-code{
    padding-left: 1rem;
}

.icon-button{
    padding: 3px 7px 3px 7px;
    margin: 0.5rem;
    border-radius: 50%;
    border: 2px inset black;
    color: black;
    background-color: white;
}

.active-button{
    color: black;
    background-color: rgb(0, 255, 0);
}

.inactive-button{
    color: white;
    background-color: red;
}